{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <script data-ad-client="ca-pub-6278005707048079" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontastic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/grasp_mobile_progress_circle-1.0.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/datatables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.blue.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icons-reference/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png" >
    

</head>