{% extends 'home/homebase.html' %} {% block content %}

<section class="section-padding">
    <div class="container-fluid">
        <h1 class="text-center m-4">Quick Links</h1>
        <section class="statistics">
            <div class="container-fluid">
              <div class="row d-flex">
                <div class="col-lg-4">
                    <!-- Income-->
                    <div class="card income text-center">
                      <div class="icon"><i class="icon-rss-feed"></i></div>
                     <strong class="text-primary"><a href="{% url 'blog:index' %}">Blog</a></strong>
                      <p>My E-School Blog. The blog gives you update on what is currently happening in th school</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <!-- Income-->
                    <div class="card income text-center">
                      <div class="icon"><i class="icon-user"></i></div>
                     <strong class="text-primary"><a href="{% url 'others:aboutStaff' %}">About Staff</a></strong>
                      <p>This Pages provide you with infomation about our teaching staff, example like the year they join the school and more ...</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <!-- Income-->
                    <div class="card income text-center">
                      <div class="icon"><i class="icon-padnote"></i></div>
                     <strong class="text-primary"><a href="{% url 'others:aboutSchool' %}">School History</a></strong>
                      <p>This page contain the history of our school, it covers history in all aaspect of the school ranging from the school houses, staff, sports, academics, cadet and many more ...</p>
                    </div>
                  </div>
                
              </div>
            </div>
          </section>
    </div>
</section>


{% endblock content %}