
   <div class="modal fade" id="resultfor{{resultfor.id}}" tabindex="-1" role="dialog" aria-labelledby="resultfor{{ resultfor.id }}" aria-hidden="true" >
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Delete {{ resultfor }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete {{ resultfor }}
                </p>
            </div>  
            <form method="post" action="{% url 'academics:dr' resultfor.id %}" >
            {% csrf_token %}
                
            <div class="modal-footer">
            
            <button type="submit" class="btn btn-danger">Yes</button></form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                
            </div>
        </div>
    </div>
</div>
