<nav class="navbar bg-transparent card">
    <div class="container">
        <div class="navbar-holder table-responsive">
           
            <ul class="nav-menu list-unstyled d-flex flex-md-row">
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-program" class="btn text-dark">
                        <i class="fa fa-plus"></i> Program  
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-level" class="btn text-dark">
                        <i class="fa fa-plus"></i> Level  
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-class" class="btn text-dark">
                        <i class="fa fa-plus"></i> Class
                     </button>
                </li>
                <li class="nav-item ">
                    <button type="button" data-toggle="modal" data-target="#add-semester" class="btn text-dark">
                        <i class="fa fa-plus"></i> Semester 
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-batch" class="btn text-dark">
                        <i class="fa fa-plus"></i> Batch
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-ay" class="btn text-dark">
                        <i class="fa fa-plus"></i> Academic Year
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-subjects" class="btn text-dark">
                        <i class="fa fa-plus"></i> Subjects  
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-house" class="btn text-dark">
                        <i class="fa fa-plus"></i> House  
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-staffid" class="btn text-dark">
                        <i class="fa fa-plus"></i> Staff Id  
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#create-result" class="btn text-dark">
                        <i class="fa fa-plus"></i> Results
                     </button>
                </li>
                <li class="nav-item ">
                    <button type="button" data-toggle="modal" data-target="#change-class" class="btn text-dark">
                        <i class="fa fa-plus"></i> Change Classes 
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-info" class="btn text-dark">
                        <i class="fa fa-info"></i>
                     </button>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
