<nav class="navbar bg-transparent card">
    <div class="container-fluid">
        <div class="navbar-holder">
           
            <ul class="nav-menu list-unstyled d-flex flex-md-row">
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-as" class="btn text-dark">
                        <i class="fa fa-plus"></i> Create About Staff
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-sp" class="btn text-dark">
                        <i class="fa fa-plus"></i> Create Staff Position  
                     </button>
                </li>
                <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#add-nb" class="btn text-dark">
                        <i class="fa fa-plus"></i> Post on Notice Board
                     </button>
                </li>
                <li class="nav-item ">
                    <button type="button" data-toggle="modal" data-target="#add-sh" class="btn text-dark">
                        <i class="fa fa-plus"></i> Add School History 
                     </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
