{% extends 'home/homebase.html' %}
{% load static %}
{% block content %}
<nav class="navbar bg-transparent card">
    <div class="container-fluid">
        <div class="navbar-holder">
           
            <ul class="nav-menu list-unstyled d-flex flex-md-row">
                <li class="nav-item">
                    <a href="{% url 'others:basics' %}" class=" btn text-dark"><i class="fa fa-list"></i> All Notice Board Post</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 card">
                <div class="card-header">Notice Board Post Edit Form</div>
                <form action="{% url 'others:unb'  nb.id %}" method="POST" enctype="multipart/form-data" >
                    
                    <div class="card-body">
                        {% csrf_token %} 
                        {{ form.media }}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}